= form_with model: @review, url: book_reviews_path(@book), id: "review-form", method: :post do |form|
  = form.label :content
  = form.text_area :content, id: "input-review", class: "form-control"
  = form.submit "Create", id: "button-submit-review", class: "btn btn-success mt-3"
